/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  /*========== Colors ==========*/
  --first-color: #03BDA5;
  --first-color-alt: #00a5a1;
  --title-color: #161212;
  --text-color: #5B5757;
  --text-color-light: #8F8A8A;
  --body-color: #FEFBFB;
  --container-color: #FFF;
  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  /*========== Font weight ==========*/
  --font-semi-bold: 600;
  --font-bold: 700;
  /*========== Margins ==========*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 3rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .825rem;
  }
}

/*========== BASE ==========*/
*, ::before, ::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}

h1, h2, h3, ul, p {
  margin: 0;
}

h1, h2, h3 {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.logo-img {
  width: 26%;
}

/*========== CLASS CSS ==========*/
.section {
  padding: 4rem 0 2rem;
}
.section-title, .section-title-center {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: var(--mb-3);
}

/*========== LAYOUT ==========*/
.l-main {
  overflow: hidden;
}

.bd-container {
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
  justify-content: center;
}
@media screen and (max-width: 576px) {
  .bd-grid .home__img {
    grid-row: 2/4;
  }
  .bd-grid .home__data {
    margin-top: var(--mb-3);
  }
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/*========== NAV ==========*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__brand {
  display: flex;
  align-items: center;
}
.nav__brand a {
  margin-left: var(--mb-1);
}
@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    width: 90%;
    margin: 0 auto;
    padding: 2.5rem 0 0;
    text-align: center;
    background-color: var(--body-color);
    transition: 0.4s;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    z-index: var(--z-fixed);
  }
}
.nav__item {
  margin-bottom: var(--mb-3);
}
.nav__link, .nav__logo, .nav__toggle {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
}
.nav__logo:hover {
  color: var(--first-color);
}
.nav__link {
  transition: 0.3s;
  font-size: var(--small-font-size);
}
.nav__link:hover {
  color: var(--first-color);
}
.nav__toggle {
  font-size: 1.3rem;
  cursor: pointer;
}

/* Show menu */
.show-menu {
  top: calc(var(--header-height) + 1rem);
}

/* Active menu link */
.active-link {
  position: relative;
}
.active-link::before {
  content: "";
  position: absolute;
  bottom: -0.75rem;
  left: 45%;
  width: 5px;
  height: 5px;
  background-color: var(--title-color);
  border-radius: 50%;
}

/* Change background header */
.scroll-header {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

/* Scroll top */
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  background: #7dd7c2;
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
  visibility: hidden;
}
.scrolltop:hover {
  background-color: var(--first-color);
}
.scrolltop__icon {
  font-size: 1.5rem;
  color: var(--body-color);
}

.show-scroll {
  visibility: visible;
  bottom: 1.5rem;
}

/*========== HOME ==========*/
.home__container {
  row-gap: 0.5rem;
}
.home__img {
  width: 280px;
  justify-self: center;
}
.home__title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-bold);
  margin-bottom: var(--mb-2);
}
.home__description {
  margin-bottom: var(--mb-3);
}

/*========== BUTTONS ==========*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: var(--font-semi-bold);
  transition: 0.3s;
}
.button:hover {
  background-color: var(--first-color-alt);
}
.button-link {
  background: none;
  padding: 0;
  color: var(--first-color);
}
.button-link:hover {
  background-color: transparent;
  color: var(--first-color-alt);
}

/*========== SHARE ==========*/
.share__data {
  text-align: center;
}
.share__description {
  margin-bottom: var(--mb-2);
}
.share__img {
  width: 280px;
  justify-self: center;
}

/*========== PROMO ==========*/
.promo__container {
  grid-template-columns:repeat(auto-fit, minmax(230px, 300px));
}
.promo__data {
  position: relative;
  text-align: center;
  background-color: var(--container-color);
  box-shadow: 0 2px 6px rgba(65, 11, 16, 0.15);
  border-radius: 1rem;
}
.promo__data:hover {
  box-shadow: 0 3px 12px rgba(65, 11, 16, 0.15);
}
.promo__img {
  height: 200px;
  overflow: hidden;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.promo__title {
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-1);
}
.promo__button {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  font-size: 1.25rem;
  padding: 0.5rem 0.625rem;
  border-radius: 1rem 0 1rem 0;
}
.promo__deadline {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  padding: 0.5rem 0.625rem;
  border-radius: 0 1rem 0 1rem;
  font-size: var(--small-font-size);
  font-weight: normal;
}

/*========== TRAVEL ==========*/
.travel__container {
  grid-template-columns:repeat(2, 1fr);
  padding-bottom: 2rem;
}
.travel__content {
  position: relative;
  display: grid;
  padding: 0.25rem 0.75rem 0.75rem;
  background-color: var(--container-color);
  box-shadow: 0 2px 6px rgba(65, 11, 16, 0.15);
  border-radius: 1rem;
}
.travel__content:hover {
  box-shadow: 0 3px 12px rgba(65, 11, 16, 0.15);
}
.travel__img {
  width: 110px;
  justify-self: center;
  margin-bottom: 0.25rem;
}
.travel__title, .travel__category {
  text-align: center;
}
.travel__title {
  font-size: var(--normal-font-size);
}
.travel__category {
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
  color: var(--text-color-light);
}
.travel__preci {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}
.travel__button {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  font-size: 1.25rem;
  z-index: 2;
  padding: 0.5rem 0.625rem;
  border-radius: 1rem 0 1rem 0;
}

/*========== invest ==========*/
.invest {
  padding: 0;
}
.invest__title, .invest__description {
  color: #fff;
}
.invest__description {
  text-align: center;
  margin-bottom: var(--mb-4);
}

.invest__input {
  width: 70%;
  outline: none;
  border: none;
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
}
.invest__input::placeholder {
  font-family: var(--body-font);
}
.invest__img {
  width: 280px;
  justify-self: center;
}

/*========== FOOTER ==========*/
.footer__container {
  grid-template-columns:repeat(auto-fit, minmax(230px, 300px));
}
.footer__logo {
  color: var(--title-color);
}
.footer__title {
  margin-bottom: var(--mb-2);
}
.footer__logo, .footer__title {
  font-size: var(--h3-font-size);
}
.footer__link {
  display: inline-block;
  margin-bottom: 0.75rem;
  color: var(--text-color);
}
.footer__link:hover {
  color: var(--first-color);
}
.footer__social {
  font-size: 1.5rem;
  color: var(--title-color);
  margin-right: var(--mb-3);
  transition: all 0.3s;
}
.footer__social:hover {
  color: var(--first-color);
}
.footer__copy {
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-top: 4rem;
}

/*========== MEDIA QUERIES ==========*/
/* For full-screen images on small screens */
@media screen and (max-width: 359px) {
  .home__img,
.share__img,
.invest__img {
    width: 100%;
  }
}
@media screen and (min-width: 576px) {
  .home__container,
.share__container,
.invest__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .home__container {
    padding: 5rem 0 0;
  }
  .home__img {
    order: 1;
  }

  .home__img,
.share__img,
.invest__img {
    width: 100%;
  }

  .share__img {
    order: -1;
  }

  .slideshow-container{
    max-height: 500px;
  }
}
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .section {
    padding-top: 7rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list {
    display: flex;
    align-items: center;
  }
  .nav__item {
    margin-left: var(--mb-5);
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }

  .home__container {
    padding: 7rem 2rem 0;
  }

  .share__container {
    padding: 0 2rem;
  }

  .travel__container {
    grid-template-columns:repeat(3, 224px);
    justify-content: center;
  }
  .travel__content {
    padding: 0.5rem 1.5rem 1.5rem;
  }
  .travel__img {
    width: 120px;
    margin-bottom: var(--mb-1);
  }
  .travel__button {
    padding: 0.75rem;
  }

  .promo__button, .promo__deadline {
    padding: 0.5rem;
  }

  .invest {
    background: none;
  }
  .invest__container {
    background-color: var(--first-color);
    padding: 0.5rem 2rem;
    border-radius: 1.5rem;
  }
}
@media screen and (min-width: 968px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }

  .home__img,
.share__img,
.invest__img {
    width: 100%;
  }

  .home__container,
.share__container,
.invest__container {
    column-gap: 5rem;
  }
}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  overflow: hidden;
  border-radius: 5px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.slide-control{
  max-height: 400px;
}
@media screen and (max-width:100px) {
  .slide-control {
    max-height: 235px;
   }
 }
@media screen and (max-width:400px) {
 .slide-control {
   max-height: 215px;
  }
}
.image-darken{
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background:black;
  opacity: 0.4;
  background-repeat: no-repeat;
  background-position: 50% 0;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: var(--first-color);
  opacity: 0.6;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  opacity: 1;

}

/* Caption text */
#text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  z-index: 2;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  z-index: 2;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--first-color);
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  opacity: 1;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#text{
  transition: all 0;
}

.form-container {
  position: fixed;
  margin: auto;
  max-width: 352px;
  top: 16%;
  right: 2rem;
  z-index: var(--z-fixed);
  transition: all .5s;
}
@media screen and (min-width:767px){
  .container{top: 9%;}
}
.bxs-chevron-down-square, .bxs-like{
  color: white;
  font-size: 25px;
}
.toggle-button{
  background-color: #1dc8a0;
  position: fixed;
  right: 125px;
  cursor: pointer;
  top: 74%;
  right: 2rem;
  z-index: var(--z-fixed);
  box-shadow: 1px 4px 9px rgba(0,0,0,.5);
}
.inside-fixed{
  display: flex;
}
.removeToogel{
  display: none;
}
.hideForm{
  transform: translateX(1000px);
}
.showForm{
  transform: translateX(0px);
}
.screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background:var(--first-color-alt);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
  cursor: pointer;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #fffdfd;
}

.screen-body {
  display: flex;
  flex-direction: column;
}

.screen-body-item {
  flex: 1;
padding: 11px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: var(--body-color);
  font-size: 26px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: var(--body-color);
}

.app-contact {
  margin-top: auto;
  font-size: var(--small-font-size);
  color: var(--body-color);
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid var(--body-color);
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: var(--body-color);
  outline: none;
}

.app-form-button {
  background: none;
  border: none;
  color: var(--body-color);
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.disabled{
  position: absolute;
  color: white;
  top: 55.5%;
}
.disabled-place{
  padding-left: 2rem;
}
